
/* nav one start */
.mainbox{
    background:rgba(0, 0, 0, 0.801);
}
.navbar-nav a{
    transition: all .4s;
}
.navbar-nav a:hover{
    color: white !important;
}
/* nav one and */
/* nav two start */
.my-row2{
    background:rgba(0, 0, 255, 0.774);
}
.my-row2 a{
    color: white;
    font-size: .9em;
}
/* nav two end */
/* poster start */
.card img{
    width: 100%;
    height: 79vh;
}
/* poster and */
/* poster two stwrt */

.image img{
    width: 50%;
    height: 79vh;
}
.image2 img{
    width: 50%;
    height: 70vh;
}
/* poster three and */

.borger{
    border-bottom: 1.5px solid rgba(192, 192, 192, 0.849);;
    height:60px;
}

.footer a{
    color: rgba(0, 0, 0, 0.705);
    transition: all .9s;
}
.footer a:hover{
    color: black !important;
}

.navt{
    display: flex;
    justify-content: center;
}

.c1{
    margin-left: 0pc;
}
.c2{
    margin-left: 3pc;
}
.c3{
        margin-left: 3pc;
}
.c4{
        margin-left: 3pc;
}
.c5{
        margin-left: 3pc;
}
.c6{
       margin-left: 3pc; 
}
.c7{
       margin-left: 3pc; 
}
.c8{
       margin-left: 3pc; 
}
.c9{
       margin-left: 3pc; 
}
.c10{
        margin-left: 3pc;
}


#LOGIN:hover,
#REGISTER:hover{
    color: blue;
}
.open-div{
    display: none;
    border: 1.5px solid silver;
    border-radius: 20px;
    padding: 26px 45px;
    height: 25vh;
    position: absolute;
    background-color:#FFFFFF;
    color: black;
    text-align: center;
}

